.user-center {
    width: 800px;
    margin: 20px 0;
    background-image: linear-gradient(134deg, #1664ff, #16a6ff);
    /* padding: 76px 40px 0; */
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
}

.about {
    padding: 40px 30px;
}

.user-center h2 {
    color: #ffffff;
    padding-bottom: 1rem;
    font-size: 36px;
    font-weight: normal;
    font-family: "PingFang HK"serif;
}

.user-center p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 360px)
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 820px;
    height: auto;
}

.flex-box .bei-box {
    width: 390px;
    height: 90px;
    box-sizing: border-box;
    border-radius: 0px;
    margin: 10px;
}


.flex-box .bei-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03);
}

.flex-box .bei-box div {
    margin: 16px;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 28px;

}

.flex-box h6 {
    font-size: 1em;
    font-weight: 400;

}

.bei-box:hover {
    transform: scale(1.03);
    transition: all 0.2s !important;
    /* box-shadow: 0px 0px 20px rgb(46 104 203 / 8%); */
}