.page {
    min-height: calc(100vh - 131px);
}

.user-center {
    width: 800px;
    margin: 20px 0;
    background-image: linear-gradient(134deg, #1664ff, #16a6ff);
    /* padding: 76px 40px 0; */
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
}

.about {
    padding: 40px 30px;
}

.user-center h2 {
    color: #ffffff;
    padding-bottom: 1rem;
    font-size: 36px;
    font-weight: normal;
    font-family: "PingFang HK"serif;
}

.user-center p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 820px;
    height: auto;
}

.flex-box .bei-box {
    width: 390px;
    /* height: 90px; */
    box-sizing: border-box;
    border-radius: 0px;
    margin: 10px;
    padding: 20px;
}


.flex-box .bei-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}


.flex-box h3 {
    font-size: 16px;
    font-weight: 700;
    margin-left: 24px;
}

.bei-box:hover {
    transform: scale(1.03);
}