.section {
    width: 872px;
    margin: 0 auto;

}

.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 800px; */
    height: 123px;
    margin: 0 10px;
}

.icon-font {
    width: 56px;
    height: 56px;
}

.titles h1 {
    font-size: 1.8em;
    padding-left: 30px;
}

/* 下面列表切换样式 */

.box-tb .item:nth-child(n+2) {
    display: none;
}

.current {
    /* width: 70%; */
}

ul {
    list-style: none;
}

.box-th li {
    width: 100%;
}
.button {
    display: flex;
    flex-direction: row;
    /* margin: 0 10px; */
}

.elemen-sc-a:hover,
.elemen-sc-b:hover {
    transform: scale(1.03);
    /* transition: all 0.2s !important; */
    /* box-shadow: 0px 0px 20px rgb(46 104 203 / 8%); */
}

.elemen-bt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    /* line-height: 50px; */

}

.button p {
    font-size: 14px;
    color: #979797;
}

.elemen-sc-a .elemen-bt h2 {
    color: #2E68CB;
}

.elemen-sc-b .elemen-bt h2 {
    color: #35703A;
}

.elemen-sc-a {
    display: flex;
    margin: 10px;
    padding: 24px;
    /* width: 100%; */
    background: rgba(46, 104, 203, 0.1);
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.elemen-sc-b {
    display: flex;
    margin: 10px;
    padding: 24px;
    /* width: 100%; */
    background: rgba(53, 112, 58, 0.1);
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}


.list {
    /* border-top: 1px solid #EBEBEB; */
    /* width: 800px; */
    /* margin: 0 10px; */
    height: auto;
    background-color: rgba(255, 175, 175, 0);
}

.list-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-box h1 {
    font-family: Roboto;
    font-size: 42px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
}


.list-box .test-card {
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    /* border: 1px solid rgba(5, 6, 15, .05); */
    /* background-color: #fff; */
    /* box-shadow: 0 7px 16px 0 rgb(0 0 0 / 4%); */
    box-sizing: border-box;
    border-radius: 16px;
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.test-card-img {
    margin-right: 22px;
    height: 100%;
    border-radius: 2px;
}

.test-card h2 {
    font-size: 18px;
    /* margin-bottom: 6px; */
}

.test-card p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 6px;
}

.test-card:hover {
    transform: scale(1.03);

}

/* 主要内容 */
.item-1 {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 182, 182, 0);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 270.6px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px;
    padding: 20px 14px;
    border: 1px solid rgba(5, 6, 15, .05);
    background-color: #fff;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 4%);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.card-container img {
    margin: 14px 0;
    width: 100%;
    border-radius: 4px;
}

.card-container .about {
    padding-bottom: 10px;
}

.card-container h4 {
    font-size: 1.3em;
    color: rgb(0, 0, 0);
}

.card-container p {
    padding-top: 2px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.card-container:hover {
    transform: scale(1.03);
    transition: all 0.2s !important;
    box-shadow: 0px 0px 20px rgb(46 104 203 / 8%);
}