.section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: 123px;
}

.icon-font {
    width: 56px;
    height: 56px;
}

.titles h1 {
    font-size: 1.8em;
    padding-left: 30px;
}



.list {
    /* border-top: 1px solid #EBEBEB; */
    width: 800px;
    height: auto;
    background-color: rgba(255, 175, 175, 0);
}

.list-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-box h1 {
    font-family: Roboto;
    font-size: 42px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
}


.list-box .test-card {
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin-bottom: 20px;
    width: 800px;
    height: 120px;
    border: 1px solid rgba(5, 6, 15, .04);
    /* background-color: #fff; */
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 4%);
    box-sizing: border-box;
    border-radius: 16px;
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.test-card-img {
    margin-right: 16px;
    height: 100%;
    border-radius: 8px;
}

.test-card h2 {
    font-size: 18px;
    /* margin-bottom: 6px; */
}

.test-card p {
    font-size: 14px;
    color: #979797;
}

.test-card:hover {
    transform: scale(1.03);

}