* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    -webkit-box-sizing: border-box; */
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

body {
    height: auto;
    /* background: #ffffff; */
    font-size: 14px;
    font-family: "Greycliff Medium", "Helvetica Neue", Helvetica, sans-serif, "Roboto";
    line-height: 1.7;
    font-weight: 350;
    letter-spacing: 0;


}

.header {
    background-color: rgb(255, 255, 255);
}

.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    left: 0;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* .nav .svg {
    margin-right: 40px;
} */

.icon {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.fab {
    font-family: 'icomoon';
}


.fa-dribbble::after {
    content: "\eaa7";
}

.icon-behance::after {
    content: "\eaa9";
}

.icon-github::after {
    content: "\eab0";
}

.switch {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

}

.switch .dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 26px;
    background: #000000;
    border-radius: 35px;
}

.switch .light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 26px;
    /* background: #000000;
    border-radius: 6px; */
}



/* 底部模块制作 */
.footer {
    display: flex;
    justify-content: center;
    height: 260px;
    border-top: 1px solid #e6e8ec;
    /* background-color: #fafafa; */
    padding: 0 50px;
}

.footer .mod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.bottom-th {
    margin-bottom: 1rem;
}

.footer .mod .mod-help {
    font-weight: 300;
}

.footer .mod ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.footer .mod ul li {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .03);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-inline {
    margin: 10px;
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    width: 10px;
    height: 10px;
    color: #000;
    margin: 0;
    display: inline-block;
}