* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

body {
    height: auto;
    /* background: #ffffff; */
    font-size: 14px;
    font-family: "Greycliff Medium", "Helvetica Neue", Helvetica, sans-serif, "Roboto";
    line-height: 1.7;
    font-weight: 350;
    letter-spacing: 0;
}

@font-face {
    font-family: Amithen;
    src: url(images/webfonts/icomoon/fonts/Amithen.ttf);
}


.header {
    background-color: rgb(255, 255, 255);
}

.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    left: 0;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.dribble {
    margin-right: 2.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.icon {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.fab {
    font-family: 'icomoon';
}


.fa-dribbble::after {
    content: "\eaa7";
}

.icon-behance::after {
    content: "\e900";
}

.icon-github::after {
    content: "\eab0";
}

.switch {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

}

.switch .dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 26px;
    background: #000000;
    border-radius: 35px;
}

.switch .light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 26px;
    /* background: #000000;
    border-radius: 6px; */
}

/* 下面列表切换样式 */

.button {
    display: flex;
    flex-direction: row;
    /* width: 800px; */
}

.elemen-sc-a {
    margin: 10px;
    padding: 24px;
    width: 50%;
    background: rgba(46, 104, 203, 0.1);
    border-radius: 16px;
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.elemen-sc-b {
    margin: 10px;
    padding: 24px;
    width: 50%;
    background: rgba(53, 112, 58, 0.1);
    border-radius: 16px;
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.elemen-sc-a:hover,
.elemen-sc-b:hover {
    transform: scale(1.03);
    /* transition: all 0.2s !important; */
    /* box-shadow: 0px 0px 20px rgb(46 104 203 / 8%); */
}

.elemen-bt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    /* line-height: 50px; */

}

.button p {
    font-size: 14px;
    color: #979797;
    margin-top: 12px;
}

.elemen-sc-a .elemen-bt h2 {
    color: #2E68CB;
}

.elemen-sc-b .elemen-bt h2 {
    color: #35703A;
}

/* 文字部分 */
.text {
    margin: 10px 0px 30px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

/* 底部模块制作 */
.footer {
    border-top: 1px solid #e6e8ec;
    padding: 40px 50px;
    background-color: rgb(255, 255, 255);
}

.footer .mod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: 20px;
    font-family: Amithen;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.9);
}



.footer .mod ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.footer .mod ul li {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .03);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .mod ul li>a{
    display: flex;
}

.logo-td {
    width: 150px;
}

.list-inline {
    margin: 10px;
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    width: 10px;
    height: 10px;
    color: #000;
    margin: 0;
    display: inline-block;
}