* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    height: 80vh;
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Greycliff Medium", "Helvetica Neue", Helvetica, sans-serif, "Roboto";
    font-size: 14px;
    line-height: 1.7;
    /* background: #ffffff; */
    letter-spacing: 0;
    font-weight: 350;

}

/* section 主要内容 */
.centrize {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 60px 20px; */
}

.stared-centent {
    /* margin: 1px auto; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-suntitle {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0);
}


.h-suntitle strong {
    color: #00A3FF;
    /* color: #165DFF; */
}

.fabe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
    min-height: 48px;
    /* width: 50%; */
    height: 48px;
    max-height: 48px;
    border-radius: 40px;
    /* border: 1px solid #f5f5f5; */
    background-color: #f5f5f5;
}

.pages-muen {
    display: flex;
    flex-direction: row;
    /* width: 120vh; */
}

.elemen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 24px;
    width: 416px;
    /* height: 50vh; */
    backdrop-filter: saturate(180%) blur(62px);
    background: rgba(0, 0, 0, 0.03);
    border-radius: 22px;
}

.elemen-bt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages-muen h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    /* line-height: 50px; */

}

.pages-muen p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.pages-muen .list-top .list-top-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 36px;
    border-radius: 10px;
}

.elemen-bm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
}

.elemen-sc {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.elemen-sc-a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 24px;
    width: 416px;
    height: 180px;
    background: #E9F0FD;
    border-radius: 22px;
}

.elemen-sc-a .elemen-bt h2 {
    color: #2E68CB;
}

.elemen-sc-b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 24px;
    width: 416px;
    height: 180px;
    background: #E9F4EB;
    border-radius: 22px;
}

.elemen-sc-b .elemen-bt h2 {
    color: #35703A;
}

.elemen .list-top .list-top-a:hover {
    background: rgba(0, 0, 0, 0.05);
    font-weight: 500;
}


/* footer */
.footer {
    padding: 0;
    position: fixed;
    bottom: 72px;
    left: 50px;
    right: 50px;
    width: auto;
    height: 0px;
    z-index: 100;
}

footer .copy {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 2px 0 0 0;
    font-size: 14px;
    /* line-height: 2; */
    color: #bbb;
}