.article {
    width: 872px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0px;

}

.icon-font {
    width: 56px;
    height: 56px;
}

.titles h1 {
    font-size: 56px;
    margin-right: 16px;
}

.airstar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 90px;
    background-color:#ffffff;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.airstar .title-1{
    box-sizing: border-box;
    width: 60%;
    padding: 72px 48px;
}

.video-2 {
    box-sizing: border-box;
    width: 45%;
    height: 480px;
    overflow: hidden;
    border-radius: 0px;
    position: relative;
}
.video-mobile{
    position: relative;
    margin-top: 50px;
}
.video-2 .video-mobile img {
    width: 120%;
    z-index: 1;
}

.card-content{
    height: 49%;
    width: 43.3%;
    border-radius: 12px;
    z-index: 2;
    overflow: hidden;
    position: absolute;
    top: 7px;
    left: 27px;
    background-color: #fafafa;
}

.video-2 video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

}

.banner {
    margin: 0px 0px 90px;
}

.video-hd {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 24px;

}

.banner video {
    width: 100%;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.title {
    margin-bottom: 10px;
}

.title h4 {
    font-size: 22px;
    font-weight: normal;
}


/* .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 100%;

} */

/* .main>div {
    border-radius: 10px;
    width: 416px;
    height: 189px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
} */

/* .main>div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
} */

.fonts {
    padding: 20px;
    margin: 60px 10px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .03);
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.simplebar-content {
    display: flex;
}

.item {
    width: 120px;
    background-color: rgba(0, 0, 0, .03);
    margin: 6px;
    padding: 32px 8px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 72px;
    height: 72px;
    border-radius: 36px;
}

.name {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
}

.name-p {
    font-size: 12px;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.6);
}

.grid {
    display: grid;
    gap: 1.5rem;
    /* margin-top: 3rem; */
    box-sizing: border-box;
}

.gap-6 {
    gap: 1.5rem;
}


.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.bg-gray-purple {

    box-sizing: border-box;
    overflow: hidden;
    /* height: 240px; */
    grid-column-start: span 6;
    grid-column-end: span 6;
    /* padding: 0.75rem 0.75rem; */
    border-radius: 0rem;
    background-color: rgb(241 240 242);

}

.bg-gray-purple2 {
    
    box-sizing: border-box;
    overflow: hidden;
    grid-column-start: span 4;
    grid-column-end: span 4;
    /* padding: 0.75rem 0.75rem; */
    border-radius: 0rem;
    background-color: rgb(241 240 242);

}
.bg-gray-purple3 {
    box-sizing: border-box;
    grid-column-start: span 5;
    grid-column-end: span 5;
    /* padding: 0.75rem 0.75rem; */
    border-radius: 0rem;
    background-color: rgb(241 240 242);

}
.display{
    display: flex;
    justify-content: center;
    height: 338px;
    border-radius: 0rem;
    overflow: hidden;
}