.warp {
    width: 872px;
    margin: 0 auto;
    min-height: calc(100vh - 360px)
}

.titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    width: 100%;
    height: 123px;
    /* border-bottom: 1px solid #EBEBEB; */
    background-color: rgba(255, 255, 255, 0);
}

.icon-font {
    width: 56px;
    height: 56px;
    background-color: rgba(255, 255, 255，0);
}

.titles h1 {
    font-size: 1.8em;
    padding-left: 30px;
}



.elemen-sc-a {
    margin: 5px;
    padding: 24px;
    width: 50%;
    background: rgba(46, 104, 203, 0.1);
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

.elemen-sc-b {
    margin: 5px;
    padding: 24px;
    width: 70%;
    background: rgba(53, 112, 58, 0.1);
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}

/* 主要内容 */


.section {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 182, 182, 0);


}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 270.6px;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 10px;
    padding: 20px 14px;
    border: 1px solid rgba(5, 6, 15, .05);
    background-color: #fff;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 4%);
    border-radius: 16px;
    transition: .3s cubic-bezier(.165, .84, .44, 1);
}


.card-container img {
    margin: 14px 0;
    width: 100%;
    border-radius: 8px;
}

.card-container .about {
    padding-bottom: 10px;
}

.card-container h4 {
    font-size: 1.3em;
    color: rgb(0, 0, 0);
}

.card-container p {
    padding-top: 2px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.card-container:hover {
    transform: scale(1.03);
    transition: all 0.2s !important;
    box-shadow: 0px 0px 20px rgb(46 104 203 / 8%);
}