.theme-dark {
    background: #171A1F !important
}

.theme-dark .header {
    background-color: #171A1F;
    color: #fff;
}

.theme-dark .nav ul li a {
    color: #fff;
}

.theme-dark .nav .dribble a .icon {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.theme-dark .switch {
    width: 64px;
    /* height: 36px; */
    padding: 8px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.theme-dark .nav .dribble svg path {
    fill: currentColor;
    color: rgb(255, 255, 255);
}

.theme-dark .h-subtitle h1 {
    color: rgb(255, 255, 255)
}

.theme-dark .fabe {
    background-color: rgba(255, 255, 255, 0.05);
}

.theme-dark .elemen {
    background-color: rgba(255, 255, 255, 0.05);
}

.theme-dark .header .logo svg path {
    fill: currentColor;
    color: rgb(255, 255, 255);
}

.theme-dark .elemen svg path {
    fill: currentColor;
    color: rgb(255, 255, 255);
}

.theme-dark .elemen-sc-a svg path {
    fill: currentColor;
    color: #92B5F2;
}

.theme-dark .elemen-sc-b svg path {
    fill: currentColor;
    color: #91C699;
}

.theme-dark .elemen .elemen-bt h2 {
    color: rgb(255, 255, 255)
}

.theme-dark .far-w {
    color: rgb(255, 255, 255)
}

.theme-dark .far-w-p {
    color: rgba(255, 255, 255, 0.3)
}

.theme-dark .frame {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.theme-dark .bei-box div{
    background: rgba(255, 255, 255, 0.05);
}

.theme-dark .far-b {
    background: rgba(255, 255, 255, 0.05);
}

.theme-dark .elemen-sc-a {
    background-color: rgba(146, 181, 242, 0.1);
}

.theme-dark .elemen-sc-b {
    background-color: rgba(145, 198, 153, 0.1);
}

.theme-dark .elemen-sc-a .elemen-bt h2 {
    color: rgb(146, 181, 242);
}

.theme-dark .elemen-sc-b .elemen-bt h2 {
    color: rgba(145, 198, 153, 1);

}

.theme-dark .elemen .list-top .list-top-a:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* 默认样式 */
.theme-light {
    background-color: #fff
}